<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 

<body> 
<ui:composition template = "/layouts/commonlayouts.xhtml"	>
	<!-- Register -->
	<ui:define name="title" >Login Page</ui:define>
	<ui:define name="content">
		
		<div align="center"> 
		<h:form>
			First Name: <h:inputText id="firstname" value="#{user.firstname}" title="" /><h:message for = "firstname"/> <br/>
            Last Name: <h:inputText id="lastname" value="#{user.lastname}" title="" /><h:message for = "lastname"/> <br/>
            <h:commandButton value="Submit" action="#{formController.onSubmit(user)}" />
		</h:form>
	</div>
	</ui:define>
	</ui:composition>
</body> 
</html>
