<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<h:dataTable value="#{orders.orders}" var="o"
			styleClass="order-table"
			headerClass="order-table-header"
			rowClass="order-table-odd-row,order-table-even-row">
		<h:column>
			<f:facet name="header">Order Number</f:facet>
			#{o.orderNo}
		</h:column>
		<h:column>
			<f:facet name="header">Product</f:facet>
			#{o.productName}
		</h:column>
		<h:column>
			<f:facet name="header">Price</f:facet>
			#{o.price}
		</h:column>
		<h:column>
			<f:facet name="header">Quantity</f:facet>
			#{o.quantity}
		</h:column>
</h:dataTable>
</body> 
</html>
